@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: rgb(77, 77, 77);
}

/* FORM */
.container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 50vh; */
  margin-top: 20px;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h1 {
  margin-bottom: 5px;
  text-align: center;
}

form h3 {
  margin-bottom: 20px;
  text-align: center;
}

form label {
  font-weight: 800;
}

form input,
form select {
  border: 0;
  margin: 10px 0;
  padding: 5px;
  outline: none;
  background-color: #ececec;
  font-size: 16px;
  border-radius: 5px;
}

form button {
  border: 0;
  outline: none;
  padding: 5px;
  background-color: rgb(72, 221, 72);
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 5px;
}

/* EXPENSE TABLE */
.expenses-list {
  margin: 20px;
}

.expenses-list h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  background-color: white;
}

th {
  background-color: rgb(252, 108, 108);
}

tfoot td {
  font-weight: 800;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }
}
